
<h1>Nova Scotia Community College</h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="/courses">Courses</a></li>
  <li><a href="/terms">Terms</a></li>
  <li><a href="/students">Users</a></li>
</ul>

<div class="panel panel-default">
  <div class="panel-body">Test Blank Space</div>
</div>
